/* 
    Document   : main_screen_layout
    Created on : Nov 13, 2013, 5:01:08 PM
    Author     : comet
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{ 
    line-height: 1.5em;
    font-family: Arial;
    font-size: 14px;
    background-color: black;
   
    }
    

.page{
    max-width:3000px;
    
/*    position: relative;*/
   
    }
    header{
        background-color: black;
        height:60px;
        padding-top: 10px;
    }
    

h1{font-family: Copperplate; font-size: 2em; font-weight: normal; text-align: center;
       color: white; margin: 20px 0 .5em 0 ;text-transform: uppercase;}
h2{font-size: 1.7em; margin: 0 0 1em 0 ;}
h3{font-size: 1.5em; margin: 0 0 1em 0 ;}
p{margin: 0 0 .75em 0 ;}
a{color: #336633}
a:hover {color: #3366cc;}

footer{ font-size: .85em; color: white; background-color: black ; 
        padding: 5px 10px 10px 0; float: bottom;} 
