/* 
    Document   : screen_layout_large
    Created on : Nov 13, 2013, 5:13:36 PM
    Author     : comet
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.top{ 
    height:800px;
    background-color: #F0F0F0 ;
}
.line{
    height: 10px;
    background-color: darkolivegreen;
}
.bottom{
    
    height: 500px;
    background-color: DarkSlateGray;
   
}
.bottom_left{
	
    padding-left: 75px;
    
    height:450px;
    width: 700px;
    float: left;
    
}
.bottom_right{
    
    height: 450px;
    width: 1200px;
    float: left;
    padding-top: 150px;
    padding-left: 300px;
    
    
    
}
